
*{
    margin: 0;
    padding: 0;
    text-align: center;
}


a{
    text-decoration: none;
}
p{
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 400;
    font-size: 2em;
    color: white;
}
h1{
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 500;
    padding-top: 40px;
    font-size: 4em;
    color: white;
}
header {
    display: flex;
    width: 100%;    
    height: 100%;
    background-image: url('img/rock.jpg');
    background-size: cover; 
    background-attachment: fixed;
}
header h1{
    padding: 0;
    margin-bottom: 20px;
}
footer{
    position:relative;
    width: 100%;
    height: 350px;
    background-color: #292830;  
}  
.footer h1{
    color: black;
}

.page1{
    
    background:#ffebbc ; 
    height: 480px;;
    
}
.page1 h1{
    color: black;
}
.page2  {
    height: 400px;    
    background: #5da7ae;
    
}
.page3  {
    background-color: #543d46;   
}
.picture{
    margin: 20px;
    width: 200px; 
    height: 200px;
  
}
.donate{
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    justify-content: center; 
    
      
}
#name{
    color: #2fc989;
}
#circle{
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px solid #ED5E42;   
    border-radius: 100px;
    background: #f0ebeb;  
    margin: 20px;
    transition: 0.3s;
    
}
#circle>p{
    color: #ED5E42;
    margin: auto;
    
}
#circle:hover{

background:#ED5E42;   
    
}
#circle:hover>p{
    color: #fff; 
}
.soc {
    margin-top: 40px;
    display: flex;
    justify-content: center; 
}
.icon{
    height: 100px;
    width: 100px;
    margin: 0 20px;  
}
footer p{ 
    position:absolute; 
	bottom:15px;
    left: 15px;
    font-size: 1.3em;    
}
#scroller{
    position: fixed;    
    bottom: 30px;
    right: 50px;
    background: url(img/upp.svg);
	width: 50px;
	height: 50px;
	cursor: pointer;
	display:none;
}
.content{
  margin: auto;
}
.console {
    
    padding: 5px;
    border-radius: 10px;
    height: 100px;
    width: 40%;    
    background: #393737;
    margin:auto;
}
.console p{
    padding: 5px;
    text-align: left;
    font-size: 1em;
    font-family: sans-serif;
    
}


.love {
    font-size: 1.5em;
    color:red;
}
@media (max-width:34em) {
    header{
        background-image: url('img/rock-mobile.jpg');
    }
    p{
    font-size: 18px;
}
    h1{
    font-size: 3em;
    
}
}