@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --rectSize: 300px;
    --mainHeight:calc(var(--rectSize) * 1.414);
}
*{
    box-sizing: border-box;
}
body {
    background: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 20pt;
    margin-left: 20px;
}
ul{
    box-sizing: border-box;
}
li{
    display: inline-block;
    font-size: 15pt;
    list-style-type: none;
    margin-right:30px;
    text-transform:uppercase; 
    box-sizing: border-box;
    height: 30px;
}
li:hover{
    cursor: pointer;
    border-bottom:solid white 3px;
    padding-bottom: 5px; 
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--mainHeight);
}
.rect{
    position: relative;
    border: solid 3px;
    height: var(--rectSize);
    width: var(--rectSize);
    transform: rotate(45deg);
}
.rect img{
    margin: -0% -10% -0% 18%;
    transform: rotate(-45deg);
    height: 300px;
}
.rect hr{
    transform: rotate(-45deg);
    margin: -50% -0% -0% 18%;
}
.rect p{
    line-height: 20px;
    text-align: center;
    transform: rotate(-45deg);
    margin: 5% 0% 0% 45%;
    font-size: 20pt;
}
.rect code{
    font-size:12pt;
}
footer{
    margin-top: 40px;
    text-align: center;
}